
@mixin centerer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


.homepage {
    @include centerer;
    background-color:lightpink;
    padding: 25px;
    transition: ease-out .2s background-color;

    &:hover{
        background-color: gray;
    }
    .arial {
        position: absolute;
        top: 50%;
        width: 100%;
        font-family: 'Arial';
        transition: ease .5s opacity;
        &:hover{
            opacity: 0;
        }
    }
    
    .sans {
        position: absolute;
        width: 100%;
        top: 50%;
        font-family: 'Comic Sans MS';
        opacity: 0;
        transition: ease .5s opacity;
        &:hover{
            opacity: 1;
        }
    }
}

