
@mixin centerer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


.homepage {
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
    margin: 0px;
    padding: 0px;
    padding-bottom: 50px;
    position: relative;
    background-color: #686963;
}

.borderContainer{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin: auto;
    width: 80%;
    border-style: double;
    border-width: 1px;
    border-radius: 5px;
    border-color: rgb(129, 143, 140);
    background-color: #8AA29E;
    box-shadow: 1px 1px 1px rgb(131, 129, 122)
}


//https://coolors.co/faf3dd-db5461-686963-8aa29e-696d7d