/* Coolors Exported Palette - coolors.co/faf5e3-db5461-686963-8aa29e-696d7d */

/* HSL */
$color1: hsla(47%, 70%, 94%, 1);
$color2: hsla(354%, 65%, 59%, 1);
$color3: hsla(70%, 3%, 40%, 1);
$color4: hsla(170%, 11%, 59%, 1);
$color5: hsla(228%, 9%, 45%, 1);

/* RGB */
$color1: rgba(250, 245, 227, 1);
$color2: rgba(219, 84, 97, 1);
$color3: rgba(104, 105, 99, 1);
$color4: rgba(138, 162, 158, 1);
$color5: rgba(105, 109, 125, 1);