@import 'palette';

.profile {
    margin-top: 50px;
    padding-top: 50px;

    & .left {
        float: left;
        width: 20%;
        & :after {
            content: "";
            background-color:$color2;
            width: 2px;
            height: 20%;
            margin-left: 95%;
        }
    }

    & .right {
        float: right;
        width: 80%;
    }
}