@import 'palette';

.profile {
    width: 100%;
    min-height: 50%;
    height: auto;
    display: table;
    border-spacing: 20px;

    & .left {
        display: table-cell;
        float: left;
        width: 80%;
    }

    & .right {
        display: table-cell;
        float: right;
        width: 20%;
    }

    & .bio {
        margin-bottom: 15px;
        display: table-row;

        img {
            display: table-cell;
            width: 100%;
            float: left;
            border-radius: 50%;
            transform: scaleZ(5);
            transition: transform 5s ease-in-out;
            &:hover {
                transform: rotateX(360deg)
            }
        }

        p {
            display: table-cell;
            width: 90%;
            float: right;
        }
        height: 20%;

        & .left {
            display: table-cell;
            float: left;
            width: 20%;
        }

        & .right {
            display: table-cell;
            float: right;
            width: 80%;
        }
    }
    
}
