.navbar{
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
    }

    li {
        background-color: lightgray;
        transition: ease-in-out .2s background-color;
        height: 100%;
        float: left;
        a {
            display: block;
            color: rgb(61, 61, 61);
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
        &:hover{
            background-color: gray;
        }      
        &:last-child{
            float:right;  
        }
    }
}