.navbar{

    ul{
        position: fixed;
        top: 0;
        width: 100%;
        list-style-type: none;
        margin: 0;
        background-color: lightgray;
    }
    li{
        float: left;
        margin-top: 10px;
        width: 50px;
        background-color: lightgray;
        a{
            text-decoration: none;
        }
        &:hover{
            li{
                background-color:gray;
            }
        }
    }

    
    
}